@{
    using CinemaSystemContext dbcontext = new();
    ViewBag.User = CinemaSystemWebApp.Utils.Authentication.GetUserByCookies(Context.Request.Cookies);
    ViewBag.Categories = dbcontext.Categories.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="assets/favicon.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css" rel="stylesheet" />

    <!-- Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    <div class="cgv-nav-bar__overlay"></div>

    <header class="cgv-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <div class="cgv-header__nav-bar-btn">
                <i class="fa-solid fa-bars fa-2xl cgv-header__nav-bar-btn--icon"></i>
            </div>

            <a class="cgv-header__logo" style="width: 120px" asp-controller="Home" asp-action="Index">
                <img src="~/assets/CGV_logo.svg.png" style="width:100px" />
            </a>
        </div>

        <form class="cgv-header__search-bar" asp-action="Search" asp-controller="Home" method="get">
            <input type="text" name="q" value="@ViewBag.SearchQueryString" class="cgv-header__search-bar--input" placeholder="Search" />
            <button type="submit" class="cgv-header__search-bar--button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="d-flex align-items-center">
            @if (ViewBag.User is not null)
            {
                <div class="cgv-header__account">
                    <a class="dropdown" role="button" href="#" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="@ViewBag.User.AvatarUrl"
                             alt="avatar" width="30" height="30" class="rounded-circle" style="object-fit: cover; object-position: center;">
                    </a>

                    <div class="dropdown-menu dropdown-menu-dark p-2">
                        <a asp-action="Setting" asp-controller="User" class="dropdown-item rounded">
                            <i class="fa-solid fa-cog"></i>
                            <span>Setting</span>
                        </a>

                        @if (ViewBag.User?.Role == (int)CinemaSystemWebApp.Models.User.Roles.Admin)
                        {
                            <a asp-controller="Admin" asp-action="Index" class="dropdown-item rounded">
                                <i class="fa-solid fa-crown"></i>
                                <span>Admin pages</span>
                            </a>
                        }

                        <hr class="dropdown-divider" />

                        <a asp-controller="Home" asp-action="Signout" class="dropdown-item rounded">
                            <i class="fa-solid fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </header>

    <nav class="cgv-nav-bar" data-button-class="cgv-header__nav-bar-btn">
        <div class="cgv-nav-bar__nav-btn-and-logo d-flex align-items-center">
            <div class="cgv-header__nav-bar-btn">
                <i class="fa-solid fa-bars fa-2xl cgv-header__nav-bar-btn--icon"></i>
            </div>

            <a class="cgv-header__logo" style="width: 120px" asp-controller="Home" asp-action="Index">
                <img src="~/assets/CGV_logo.svg.png" style="width:100px" />
            </a>
        </div>

        <div class="cgv-nav-bar__choices">
            <a asp-controller="Home" asp-action="Index" class="cgv-nav-bar__link">
                <i class="fa-solid fa-home"></i>
                <span>Home</span>
            </a>

            <a class="cgv-nav-bar__link position-relative" onmousedown="toggleCategory()">
                <i class="fa-solid fa-list"></i>
                <span>Category</span>

                <i class="fa-solid fa-caret-down" style="position: absolute; right: 0;"></i>
            </a>

            <div class="cgv-nav-bar__category">
                @foreach (Category category in ViewBag.Categories)
                {
                    <a asp-controller="Category" asp-action="Index" asp-route-id="@category.Id" class="cgv-nav-bar__category--link">
                        @category.Name
                    </a>
                }
            </div>

            @if (ViewBag.User is not null)
            {
                <a asp-action="Tickets" asp-controller="User" class="cgv-nav-bar__link">
                    <i class="fa-solid fa-ticket"></i>
                    <span>My Tickets</span>
                </a>

                <a asp-action="Setting" asp-controller="User" class="cgv-nav-bar__link">
                    <i class="fa-solid fa-cog"></i>
                    <span>Setting</span>
                </a>

                @if (ViewBag.User?.Role == (int)CinemaSystemWebApp.Models.User.Roles.Admin)
                {
                    <a asp-action="Index" asp-controller="Admin" class="cgv-nav-bar__link">
                        <i class="fa-solid fa-crown"></i>
                        <span>Admin pages</span>
                    </a>
                }
            }
            <hr>

            @if (ViewBag.User is null)
            {
                <a asp-controller="Home" asp-action="Signin" class="cgv-nav-bar__link">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Login</span>
                </a>
                <a asp-controller="Home" asp-action="Signup" class="cgv-nav-bar__link">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Register</span>
                </a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Signout" class="cgv-nav-bar__link">
                    <i class="fa-solid fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            }
        </div>
    </nav>

    <hr class="cgv-hr">
    <section class="cgv-body">
        @RenderBody()
    </section>

    <script src="/js/nav-bar.js"></script>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"></script>
</body>
</html>
