@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text.Json;
@using PRN211_22_08.Models
@model List<Order>
@{
    var cities = ViewData["orders"] as List<Order>;
}
<!DOCTYPE html>
<html>
<head>
    <title>List of Orders</title>
</head>
  <body>

    <div id="employeeList" style="width:100%">
        <h1>List of Orders</h1>
        <div>
             <div style="width:50%;float:left">
                 <a asp-controller="Product" asp-action="CreateNew" class="btn btn-primary">Create a new Employee</a>
             </div>
           <div style="width:50%;float:right">
            @if (Context.Session.GetString("Account") != null)
            {
                var account = JsonSerializer.Deserialize<Account>(Context.Session.GetString("Account"));
                <span>Welcome: @account.Email</span>
            }
            <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a>
           </div>
        </div>
      <p id="msg">
        @if (TempData["msg"] != null)
        {
            <span style="color: green">@TempData["msg"]</span>
        }
      </p>
     <table>
        <tr>
            <th>OrderId</th>
            <th>OrderDate</th>
            <th>RequiredDate</th>
            <th>ShippedDate</th>
            <th>Freight</th>
        </tr>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.OrderId</td>
                <td>@o.OrderDate.Value.ToString("dd/MM/yyyy")</td>
                <td>@o.RequiredDate</td>
                <td>@o.ShippedDate</td>
                <td>@o.Freight</td>
                <td class="employee-actions">
                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@o.OrderId">Detail</a>
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@o.OrderId">Update</a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@o.OrderId">Delete</a>
                </td>
            </tr>
        }
       </table>
    </div>
  </body>
</html>